<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{common/layout_4block :: layout(~{::body/content()})}">
<head>
    <title>パスワード変更確認</title>
    <meta charset="UTF-8" />
</head>
<body>
    <h3>パスワード変更確認</h3>

    <p>パスワードを変更します。よろしいですか？</p>

    <form th:action="@{/password/complete}" method="post"
          th:object="${passwordChangeForm}">
        <input type="hidden" th:field="*{empId}">
        <input type="hidden" th:field="*{newPassword}">
        <input type="submit" value="変更">
    </form>

    <form th:action="@{/password/change}" method="get"
    th:object="${passwordChangeForm}">
        <input type="hidden" name="empId" th:value="*{empId}">
        <input type="submit" value="戻る">
    </form>
</body>
</html>