<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{common/layout_4block :: layout(~{::body/content()})}">
<head>
    <title>パスワード変更</title>
    <meta charset="UTF-8" />
</head>
<body>
<h3>パスワード変更</h3>

<form th:action="@{/password/check}"
      method="post"
      th:object="${passwordChangeForm}">

    <input type="hidden" th:field="*{empId}" />

    <div class="form">
        <div class="label">新しいパスワード</div>
        <div class="input pass_wrap">
        <input type="password" th:field="*{newPassword}" 
        id="newPassword" th:classappend="${#fields.hasErrors('newPassword')}?'error_red'"/>
        <label>
						<input type="checkbox" onclick="togglePassword('newPassword')">
						表示
					</label>
        <span class="pass_count">0/16文字</span>
			<div class="error" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></div>		
    </div>
</div>
    <input type="submit" value="変更" />
</form>

<form th:action="@{/list}" method="get">
    <input type="submit" value="戻る" />
</form>
	  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
		$(function(){
			const max_length=16;
			$('#newPassword').on('input',function(){
				const length=$(this).val().length;
				const $count=$(this).siblings('.pass_count');
				
				$count.text(length+'/'+max_length+'文字');
				
				if(length>max_length){
					$count.addClass('error');
				}else{
					$count.removeClass('error');
				}
			});
		});
	</script>
</body>
</html>